.App {
  text-align: center;
}

.App-header{
  height: 100px;
}
.headText {
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: black;
  top:1000px;
}
.imgMe{
  height: 250%;
  clip-path:ellipse(50% 41%);

}
.App-link {
  color: #61dafb;
}


